.body-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  padding:35px;
  background-color:rgba(0, 0, 0, 0.54);
  border-radius: 25px;
  width:45.5%;
  height: 200px;
 
}

.main-select {
  color:black;
  flex-shrink: 1;
}

.fingeringPaper {
 color:black;
}

.scalesForm {
  width: 100px;
  outline-color:black;
  flex-shrink: 1;
}

.speedForm {
  width: 100px;
}

.play_buttons_container {
  margin-top: 50px;
  flex-shrink: 1;
}

.fingering {
  text-align: center;
  color: white;
  font-size: 20 px;
  padding: 10px;  
}